DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=bizedge
POSTGRES_USER=bizedge
POSTGRES_PASSWORD=bizedge
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
